.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .custom-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: green;
    opacity: 1;
    margin: 0 5px;
  }
  
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: darkgreen;
  }
  